.dialog {
  width: 20vw;
}

.form {
  &__body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    gap: 1rem;
    justify-content: space-between
  }
}

.form {

}

.form__body {

}

.form__footer {

}
