.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 30rem;
  padding: 1.5rem 32px;

  background-color: var(--light-color);
  border-radius: var(--large-border-radius);

  &__logo {
    display: flex;
    justify-content: center;
    height: 86px;
    margin: 24px 0;
  }

  &__input {
    width: 100%;

    &__invalid {
      background-color: rgb(227 160 135 / 10%);
      border-color: var(--danger-color);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    &__remember {
      display: flex;
      gap: 1rem;
      align-items: center;
      color: var(--primary-color);
    }
  }
}
